* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vmax;
  height: 80vmax;
  background-color: rgba(132, 243, 203, 1);
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}


/*********** main ***********/
.main {
  width: 360px;
  height: 640px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.10);
  margin-bottom: 15px;
  margin-top: 20px;
}

.sign-in_title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: normal;
}

.email_address {
  margin-top: 8px;
  margin-left: 50px;
  font-size: 9px;
  color: rgba(163, 159, 159, 1);
}

.email_input {
  margin-left: 45px;
  margin-right: 45px;
  width: 260px;
  border: 0.1px solid rgba(163, 159, 159, 1);
  border-radius: 10px;
  padding: 9px 10px 9px 10px;
}

.password {
  margin-top: 8px;
  margin-left: 50px;
  font-size: 9px;
  color: rgba(163, 159, 159, 1);
}

.password_input {
  margin-left: 45px;
  margin-right: 45px;
  width: 260px;
  border: 0.1px solid rgba(163, 159, 159, 1);
  border-radius: 10px;
  padding: 9px 10px 9px 10px;
}

.mobile-number {
  margin-left: 50px;
  font-size: 9px;
  color: rgba(163, 159, 159, 1);
}

.mobile-number_input {
  margin-left: 45px;
  margin-right: 45px;
  width: 260px;
  border: 0.1px solid rgba(163, 159, 159, 1);
  border-radius: 10px;
  padding: 9px 10px 9px 10px;
}

.forget_password {
  margin-right: 45px;
  margin-top: 8px;
  text-align: right;
  font-size: 12px;
  color: rgba(85, 185, 227, 1);
  transition: 1s;
}

.forget_password:hover {
  color: rgb(141, 208, 236);
}

a {
  text-decoration: none;
}

.sign-in_button {
  background-color: rgba(5, 87, 43, 1);
  color: rgba(132, 243, 203, 1);
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 30px;
  width: 260px;
  border: none;
  border-radius: 10px;
  padding: 9px 10px 9px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 1s;
}

.sign-in_button:hover {
  opacity: 0.8;
}

.sign-in_button:active {
  background-color: rgba(132, 243, 203, 1);
}



/*********** main2 ***********/
.main2 {
  width: 360px;
  height: 640px;
  background-color: rgba(5, 87, 43, 1);
  border-radius: 16px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.10);
  margin-bottom: 15px;
}

.welcome {
  text-align: center;
  margin-top: 270px;
  font-size: 40px;
  font-weight: normal;
  color: white;
}

.text {
  text-align: center;
  color: white;
  font-size: 12px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.sign-in_button-2 {
  margin-left: 45px;
  width: 130px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  color: rgba(132, 243, 203, 1);
  background-color: rgba(5, 87, 43, 1);
  border-radius: 5px;
  border: 1px solid rgba(132, 243, 203, 1);
  cursor: pointer;
}

.sign-up_button-2 {
  margin-right: 45px;
  width: 130px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  color: rgba(5, 87, 43, 1);
  background-color: rgba(132, 243, 203, 1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.foot {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  margin-top: 60px;
}

.log1 {
  width: 60px;
  height: 60px;
  background-color: lightpink;
  border-radius: 5px;
}

.log2 {
  width: 60px;
  height: 60px;
  background-color: lightblue;
  border-radius: 5px;
}

.log3 {
  width: 60px;
  height: 60px;
  background-color: lightpink;
  border-radius: 5px;
}


/*********** main3 ***********/
.main3 {
  width: 360px;
  height: 640px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}

.sign-up_title {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: normal;
  transition: 1s;
}
